<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="tech">🔧</span>
        <a href="/">My_Tech_BlogSite</a>
      </h1>
      <nav>
        <a href="/">Home</a> |
        <a href="/dashboard">Dashboard</a> |
        {{#if logged_in}}
        <a href="/profile">Profile</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <h2>Welcome to My_Tech_BlogSite</h2>
      
      <!-- List of blog posts -->
      <ul class="blog-posts">
        {{#each blogPosts}}
        <li>
          <h3>{{title}}</h3>
          <p>{{content}}</p>
        </li>
        {{/each}}
      </ul>
    </main>
    <footer>
       <p>&copy; {{currentYear}} My_Tech_BlogSite</p>
    </footer>
  </div>
</body>

</html>