<div>
  <main class="container container-fluid mt-5">
    <h2>User Profile</h2>
    {{#if logged_in}}
      <p>Welcome, {{user.username}}!</p>
      <p>Current amount of blogs are {{blogs.length}}</p>
      
      {{#if blogs.length}}
        <h3>Your Blogs:</h3>
        <ul>
          {{#each blogs}}
            <li>
              <h4>{{this.title}}</h4>
              <p>{{this.description}}</p>
              <p>Date Created: {{this.date_created}}</p>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>You haven't written any blogs yet.</p>
      {{/if}}

    {{else}}
      <p>Please log in to view your profile.</p>
    {{/if}}
  </main>
</div>

<script src="/js/logout.js"></script>
<script src="/js/profile.js"></script>